pipeline/PL_reading-databricks.json
{
	"name": "PL_reading-databricks",
	"properties": {
		"description": "Pipeline to read databrickscode",
		"activities": [
			{
				"name": "Notebook2",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/praveendxb328@gmail.com/ADF_to_dbbrciks",
					"baseParameters": {
						"input": {
							"value": "@pipeline().parameters.name",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks_existing",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Set variable2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('sheetname')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "sheetanmes",
								"value": {
									"value": "@item()",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Set variable2",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Notebook2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "sheetname",
					"value": {
						"value": "@activity('Notebook2').output.runOutput",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"name": {
				"type": "string"
			}
		},
		"variables": {
			"sheetnames": {
				"type": "String"
			},
			"sheetanmes": {
				"type": "String"
			},
			"sheetname": {
				"type": "Array"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-07-01T18:30:23Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}